@model EntityLayer.Concrete.KullaniciKayit
@{ Layout = null; }
<!doctype html>
<html lang="en">
<head>
    <title>Login 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/login-form-19/css/style.css">

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Kullanıcı Kayıt</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap py-5">
                        <h3 class="text-center mb-0">Hoşgeldin</h3>
                        <p class="text-center">Kayıt İşlemleri</p>
                          @using (Html.BeginForm("SıgnUp", "Login", FormMethod.Post, new { onkeydown = "return event.keyCode!=13" }))
                          {
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                                <input type="text" class="form-control" name="FirmaAdi" placeholder="Firma Adı" required>
                            </div>
                            @Html.ValidationMessageFor(x=>x.FirmaAdi)
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-id-card"></span></div>
                                <input type="text" class="form-control" name="FirmaUnvan" placeholder="Firma Ünvanı" required>
                            </div>
                            @Html.ValidationMessageFor(x=>x.FirmaAdi)
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-home"></span></div>
                                <input type="text" class="form-control" name="VergiDairesi" placeholder="Vergi Dairesi" required>
                            </div>
                            @Html.ValidationMessageFor(x=>x.VergiDairesi)
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                                <input type="number" class="form-control" name="VergiNumarası" placeholder="Vergi Numarası" required>
                            </div>
                            @Html.ValidationMessageFor(x=>x.VergiNumarası)
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-phone"></span></div>
                                <input type="tel" class="form-control" name="Telefon" placeholder="Telefon" required>
                            </div>
                            @Html.ValidationMessageFor(x=>x.Telefon)
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-car"></span></div>
                                <input type="text" class="form-control" name="Adres" placeholder="Adres" required>
                            </div>
                            @Html.ValidationMessageFor(x=>x.Adres)
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-envelope-o"></span></div>
                                <input type="email" class="form-control" name="Mail" placeholder="Mail" required>
                            </div>
                            @Html.ValidationMessageFor(x=>x.Mail)
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-key"></span></div>
                                <input type="password" class="form-control" name="Password" placeholder="Şifre" required>
                            </div>
                            @Html.ValidationMessageFor(x=>x.Password)
                              <div class="form-group">
                    <div class="w-100 text-center mt-4 text">
                        <input type="submit" name="submit" id="submit" class="btn btn-primary er fs-6 px-8 py-4" value="Kaydet" />
                    </div>
                                  </div>
                          }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/AdminLTE-3.0.4/login-form-19/js/jquery.min.js"></script>
    <script src="~/AdminLTE-3.0.4/login-form-19/js/popper.js"></script>
    <script src="~/AdminLTE-3.0.4/login-form-19/js/bootstrap.min.js"></script>
    <script src="~/AdminLTE-3.0.4/login-form-19/js/main.js"></script>

</body>
</html>



