@using EntityLayer.Concrete
@model List<IsVer>
@{
    Layout = null;
}
<!doctype html>
<html lang="tr">
<head>
    <title>İHALEAP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="~/Content/List.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <a href="@Url.Action("Index","Test")" style="color:white; ">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" style="margin-top:50px;" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </a>
        <h3 style="text-align:center;">İHALELER</h3>
        <table class="container" style="margin-top:5rem;">
            <thead>
                <tr>
                    <th><h1>FİRMA ADI</h1></th>
                    <th><h1>AÇILIŞ TARİHİ</h1></th>
                    <th><h1>KAPANI TARİHİ</h1></th>
                    <th><h1>ÜRÜN ADI</h1></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>@item.FirmaUnvan</td>
                        <td>@item.AcilisTarih</td>
                        <td>@item.KapanisTarih</td>
                        <td>@item.SatilanUrün</td>
                        <td>
                            <a href="/Home/MailYolla/@item.IhaleID">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="color:white;" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
        </div>
</body>
</html>